@use '../core/variables';

form {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;

    button {
        width: 100%;
        height: 60px;
    }
}

%form-element {
    position: relative;
    width: 100%;
    padding: 22px 30px 22px 54px;
    border: 0;
    border-radius: 4px;
}

.contact-input {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;

    input {
        @extend %form-element;
        height: 60px;
        overflow: visible;
    }

    textarea {
        @extend %form-element;
        height: 160px;
        resize: none;
        overflow: auto;
    }
}

.contact-icon {
    position: absolute;
    font-size: 14px;
    top: 23px;
    left: 23px;
    text-align: center;
    transition: color 300ms ease;
}

input:focus + .contact-icon,
textarea:focus + .contact-icon {
    color: rgba(variables.$color-primary, 1);
}

::placeholder {
    font-weight: 300;
}
