@use '../core/variables';

.current {
    display: inline-block;
    padding-left: 2px;
    background-color: variables.$color-white;
    animation: blink 1s infinite step-start;
}

@keyframes blink {
    50% {
        background-color: variables.$color-text;
        color: variables.$color-white;
    }
}
