@use '../core/variables';

.socials {
    position: fixed;
    width: 15%;
    bottom: 0;
    left: 0;
    transition: variables.$transition;
    z-index: 10;

    @media screen and (max-width: 1024px) {
        width: 10%;
    }

    ul {
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        &::after {
            content: '';
            width: 1px;
            height: calc(100vh * 0.15);
            background-color: rgba(variables.$color-primary, 1);
        }
    }

    @media screen and (max-width: 600px) {
        position: unset;
        width: 100%;
        margin-bottom: 4rem;

        ul {
            width: 60%;
            margin: 0 auto;
            flex-direction: row;
            justify-content: space-around;

            &:after {
                display: none;
            }
        }
    }
}
