@use '../core/variables';

.socials {
    position: fixed;
    bottom: 0;
    left: 1.4rem;
    transition: variables.$transition;
    z-index: 10;

    ul {
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        &::after {
            content: '';
            width: 1px;
            height: 8rem;
            margin-bottom: 5px;
            background-color: rgba(variables.$color-primary, 1);
        }
    }

    @media screen and (max-width: 600px) {
        visibility: hidden;
        opacity: 0;
    }
}
