@use '../core/variables';

.monitor {
    grid-area: monitor;
    min-height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 800px) {
        margin-top: 3rem;
    }

    .tile {
        position: absolute;
        left: 10%;
        width: 70%;
        height: 100%;
        background-image: linear-gradient(
            220deg,
            rgba(252, 255, 222, 1) 2.2%,
            rgba(182, 241, 171, 1) 99.3%
        );
        border-radius: 8px;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 800px) {
            left: 0;
            top: 10%;
            width: 100%;
            height: 85%;
        }
    }

    // SVG MONITOR DISPLAY SWITCH
    // IDLE: initial state on load, waiting for jobs, shows animated dots
    &.idle {
        #screen-bg {
            fill: #76826d;
        }

        #dots {
            display: inline;
        }
    }
    // PENDING: axios request being handled, shows animated envelope
    &.pending {
        #screen-bg {
            fill: #76826d;
        }

        #envelope {
            display: inline;
        }
    }
    // ERROR: HTTP response error, paints the screen red
    &.error {
        #screen-bg {
            fill: #ff495c;
        }

        #x-mark {
            display: inline;
        }
    }
    // SUCCESS: HTTP response success, paint the screen green
    &.success {
        #screen-bg {
            fill: #90f17e;
        }

        #check-mark {
            display: inline;
        }
    }
}

// SVG ELEMENTS
#monitor {
    width: 100%;

    @media screen and (max-width: 800px) {
        width: 70%;
    }
}

// SVG ANIMATIONS
// three dots disappearing successively
$dot-blink: 3s;
@for $i from 1 through 3 {
    #dot#{$i} {
        animation: dots $dot-blink infinite step-start;
        animation-delay: calc($dot-blink / 3) * $i;
    }
}
@keyframes dots {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
}
// diodes blinking randomly
@function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));
    @return $randomNum;
}
@for $i from 1 through 3 {
    #diode#{$i} {
        animation: diodes #{randomNum(200, 2000)}ms infinite step-end;
    }
}
@keyframes diodes {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
// letter slipping into envelope
$env-blink: 2s;
@for $i from 1 through 3 {
    #envelope > *:nth-child(#{$i}) {
        opacity: 0;
        animation: envs $env-blink infinite step-end;
        animation-delay: calc($env-blink / 3) * ($i - 1);
    }
}
@keyframes envs {
    0% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
}
// floating
#check-mark,
#x-mark {
    animation: float 3s infinite step-end;
}
@keyframes float {
    0% {
        transform: translateY(-1%);
    }
    25% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1%);
    }
    75% {
        transform: translateY(0);
    }
}
