@use 'variables';

.app {
    margin: 0 auto;
    width: variables.$container-width-lg;
    min-width: 260px;

    @media screen and (max-width: 1024px) {
        width: variables.$container-width-md;
    }

    @media screen and (max-width: 600px) {
        width: variables.$container-width-sm;
    }
}
