// Signika Negative by Anna Giedryś (https://fonts.google.com/specimen/Signika+Negative)
@import 'https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap';

// PixAntiqua by Gerhard Großmann (https://charakterziffer.github.io)
@font-face {
    font-family: 'PixAntiqua';
    src: url('../../assets/fonts/PixAntiqua.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
