// COLORS
$color-bg: #f5f5f5;
$color-text: #3a3335;

// PALETTE
$color-white: #ffffff;
$color-livid: #7dbbc3;
$color-lavender: #c0b9dd;
$color-sienna: #de6b48;

// ANIMATIONS
$transition: all 400ms ease;

// LAYOUT
$container-width-lg: 70%;
$container-width-md: 80%;
$container-width-sm: 90%;
