// COLOR
$color-bg: #f5f5f5;
$color-text: #3a3335;
$color-primary: #c65b7d;
$color-highlight: #f9627d;

// ANIMATION
$transition: all 400ms ease;

// LAYOUT
$container-width-lg: 100%;
$container-width-md: 100%;
$container-width-sm: 100%;
