.about {
    text-align: left;
    display: grid;
    grid-template: repeat(2, max-content) / repeat(2, 1fr);
    grid-template-areas:
        'portrait description'
        'portrait skills';
    gap: 1rem;

    @media screen and (max-width: 800px) {
        grid-template: repeat(3, max-content) / 1fr;
        grid-template-areas:
            'description'
            'skills'
            'portrait';
    }

    .portrait {
        grid-area: portrait;
    }

    .description {
        grid-area: description;

        p {
            margin-bottom: 1rem;
            font-weight: 300;
            line-height: 1.7rem;
            position: relative;
        }
    }

    .skills {
        grid-area: skills;
        font-size: 2rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 2rem;
    }
}
