.contact {
    text-align: right;
    display: grid;
    grid-template: repeat(2, max-content) / repeat(2, 1fr);
    grid-template-areas:
        'header monitor'
        'form monitor';
    gap: 2rem 3rem;

    @media screen and (max-width: 800px) {
        grid-template: repeat(3, max-content) / 1fr;
        grid-template-areas:
            'header'
            'form'
            'monitor';
        gap: 1rem;
    }

    header {
        grid-area: header;

        @media screen and (max-width: 800px) {
            h2,
            h5 {
                text-align: center;
            }
        }
    }
}
