@use '../core/variables';

.hero {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
    background: hsla(139, 70%, 75%, 1);
    background: linear-gradient(60deg, hsla(139, 70%, 75%, 1) 0%, hsla(63, 90%, 76%, 1) 100%);
    text-align: center;

    span {
        font-weight: 700;
    }

    .location {
        height: 40px;
        color: variables.$color-highlight;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
}

.cta {
    margin-top: 2.5rem;
}
