.contact {
  height: 100vh;
  background: hsla(16, 100%, 76%, 1);
  background: linear-gradient(
    90deg,
    hsla(16, 100%, 76%, 1) 0%,
    hsla(49, 100%, 81%, 1) 100%
  );
}

form {
  margin: 0 auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.contact button {
  width: 100%;
  height: 60px;
  box-shadow: var(--shadow);
}

.contact-input {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.contact-input input,
.contact-input textarea {
  position: relative;
  width: 100%;
  padding: 22px 30px 22px 54px;
  border: 0;
  border-radius: 4px;
  box-shadow: var(--shadow);
}

.contact-input input {
  height: 60px;
  overflow: visible;
}

.contact-input textarea {
  height: 160px;
  resize: none;
  overflow: auto;
}

.contact-icon {
  position: absolute;
  font-size: 14px;
  top: 23px;
  left: 23px;
  text-align: center;
  opacity: 0.6;
}

input:focus + .contact-icon,
textarea:focus + .contact-icon {
  opacity: 1;
  color: rgba(var(--color-primary), 1);
}

::placeholder {
  font-weight: 300;
}
