.projects {
  background: rgba(var(--color-bg), 1);
}

.project-list {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.project-item-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}

.project-item {
  width: 100%;
  margin-top: 6rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-preview {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.project-preview img {
  width: 60%;
  border: 2px solid rgba(var(--color-bg), 0.22);
  border-radius: 8px;
  box-shadow: var(--light);
  transition: var(--transition);
}

.project-preview:hover img {
  transform: scale(1.05);
}

.project-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: inherit;
  gap: 0.3rem;
  z-index: 10;
}

.project-logo {
  height: 70px;
  width: 100%;
  display: flex;
}

.project-description p {
  width: 50%;
}

.tag-list {
  max-width: 50%;
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
  z-index: 10;
}

.tag-list li {
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  color: rgba(var(--color-bg), 1);
  background-color: rgba(var(--color-text), 0.7);
  border-radius: 4px;
}

.external-links {
  display: flex;
  gap: 1rem;
  align-items: center;
  z-index: 10;
}

.external-links a:hover {
  transform: scale(1.2);
  transition: all 0.2s ease;
}
